streamlit
streamlit-autorefresh
streamlit-pdf-viewer
torch
beautifulsoup4
streamlit-option-menu
numpy
pillow
matplotlib
pytz
pdfkit
pdf2image
pymupdf
plotly
python-docx
pytesseract
nltk
easyocr
bcrypt
python-dotenv
tabulate

# LangChain ecosystem
# Core LangChain packages (new modular versions)
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq

# Supporting NLP & vector libraries
sentence-transformers
faiss-cpu

# PDF generation
xhtml2pdf

