streamlit
streamlit-autorefresh
streamlit-pdf-viewer
torch
beautifulsoup4
streamlit-option-menu
numpy
pillow
matplotlib
pytz
pdfkit
pdf2image
pymupdf
plotly
python-docx
pytesseract
nltk
easyocr
bcrypt
python-dotenv
tabulate

# LangChain ecosystem
langchain
langchain-community 
langchain-core
langchain-groq           # optional, only if you use Groq integration

# Embeddings and vectorstores
sentence-transformers
faiss-cpu

# PDF generation
xhtml2pdf

