streamlit
streamlit-autorefresh
streamlit-pdf-viewer
torch
beautifulsoup4
streamlit-option-menu
numpy
pillow
matplotlib
pytz
pdfkit
pdf2image
pymupdf
plotly
python-docx
pytesseract
nltk
easyocr
bcrypt
python-dotenv
tabulate

# LangChain ecosystem
# LangChain ecosystem
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
langchain-text-splitters

sentence-transformers
faiss-cpu
xhtml2pdf


